body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://cdn.wallpapersafari.com/98/45/bI8EWo.jpg');
}
